{% extends 'layout.html' %}

{% block title %}
    {{titulo}}
{% endblock %}

{% block content %}
    <h1 class="title"> {{titulo}} </h1>
    <p class="title"> --------------------------------------------------------------------- </p>
    <p><strong>Estudiantes que conforman el equipo: </strong></p>
    <ul>
        {% for integrantes in integrantes%}
        <li>{{integrantes}}</li>
        {% empty%}
            <p> No hay integrantes registrados</p>
        {% endfor %}
    </ul>
{% endblock %}
